<div class="column">
    <div>
        <h1>Minister</h1>
        <h4 id="status">Scrivi testo lettera per lettera</h4>
    </div>

    <div class="row">
        <canvas id="prediction"></canvas>
        <textarea id="output"></textarea>
    </div>
</div>

<script src="/script/predict.js"></script>
<script src="/script/home.js"></script>