<div class="column">
    <div>
        <h1>Minister</h1>
        <h4 id="status">Disegna un numero nel riquadro</h4>
    </div>

    <canvas class="canvas" id="prediction"></canvas>
    <div class="column row">
        <button onclick="clearCanvas()">Pulisci</button>
        <button onclick="(async () => alert(await sendData()))();">Predici</button>
    </div>
</div>

<script src="/script/predict.js"></script>