@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&display=swap');

* {
    font-family: "Bitcount Grid Double", system-ui;
    font-weight: bold;
    text-align: center;
    overflow-x: hidden;
    overflow-y: scroll;
}

*::-webkit-scrollbar {
    display: none;
}

:focus {
    outline: none;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    background: #000000;
    color: #ffffff;
}

html {
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
}

.column {
    width: auto;
    height: 100vh;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
    display: flex;
    flex-direction: column;
}

.canvas {
    height: 50vh;
    width: auto;
    aspect-ratio: 1/1;
    border: solid #ffffff 4px;
    border-radius: 15px;
}

textarea {
    font-family: "Comic Sans MS";
    font-weight: normal;
}

button {
    border: solid #ffffff 4px;
    border-radius: 35px;
    background: black;
    color: white;
    padding: 15px;
    transition: all 0.2s ease;
}

button:active {
    scale: 0.9;
}

.row {
    flex-direction: row;
    height: auto;
    gap: 25px;
    width: 100%;
}

.full {
    height: 100vh;
}

@media (orientation: portrait) {
    .canvas {
        width: 70vw;
        height: auto;
        aspect-ratio: 1/1;
        border: solid #ffffff 4px;
        border-radius: 15px;
    }
    .mobile-row {
        flex-direction: column;
        padding: 15px;
    }
}